body {
  margin: 0;
  /* font-family: 'East Sea Dokdo', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 엘리먼트의 box-sizing 값을 border-box로  */
  box-sizing: border-box; 
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  min-width: 100vw;
}

/* 추후 회원 인증 페이지에서
배경화면을 페이지의 전체 영역에 채우기 위한 용도 */
html {
  min-height: 100vh;  
  min-width: 100vw;
  scroll-behavior: smooth;
}

/* 링크의 색상 및 밑줄 없애기 */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box; /* 모든 엘리먼트의 box-sizing: border-box */
}

/* @font-face {
  font-family: Fredoka;
  src: url('./fonts/fredoka-one-v13-latin-regular.woff')
  
}
a {
  text-decoration: none;
  font-family: Fredoka;
}
body,
button,
input {
  font-family: Fredoka;
}
button{
  font-family: Fredoka;
} */



/* @font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Regular.woff") format("woff");
  font-style: normal;
} */

/* @font-face {
  font-family: "NotoSansKR";
  src: url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  unicode-range: U+0020-007E;
  font-style: normal;
}
 */

@font-face {
  font-family: "PretendardBold";
  src: url("./fonts/Pretendard-Bold.otf") format("opentype");
  font-style: bold;
}

@font-face {
  font-family: "PretendardLight";
  src: url("./fonts/Pretendard-Light.otf") format("opentype");
  font-style: light;
}

@font-face {
  font-family: "PretendardRegular";
  src: url("./fonts/Pretendard-Regular.otf") format("opentype");
  font-style: normal;
}

 @font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NanumSquareRoundR.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/fredoka-one-v13-latin-regular.woff") format("woff");
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
  font-style: normal;
}

body, button, input {
  font-family: "NotoSansKR";

}

/* 스크롤바 관련 */
::-webkit-scrollbar { 
  width: 0.75vw; 
}
/* 스크롤바의 width*/
::-webkit-scrollbar-track { 
  background-color: transparent;
  /* border: 1px black solid; */
  /* border-radius: 3px; */
}
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { 
  background: linear-gradient(110.64deg, #4A9FFF 5.65%, rgba(88, 172, 240, 0.861458) 45.15%, #B0FF91 84.64%);
  background-size: 5vw 100%;

  height: 10vh;
  border-radius: 3px;
} 

/* 스크롤바의 전체 배경색: horizontal*/
::-webkit-scrollbar-thumb:horizontal { 
  background: linear-gradient(110.64deg, #4A9FFF 5.65%, rgba(88, 172, 240, 0.861458) 45.15%, #B0FF91 84.64%);
  background-size: 100% 5vh;

  height: 10vh;
  border-radius: 3px;
} 
/* 스크롤바 색 */
::-webkit-scrollbar-button { 
  display: none; 
} 